<div class="flex flex-col absolute w-full md:w-72 bg-Appbar text-onAppbar transition-all duration-300 z-10"
     [class.h-full]="isSidebarVisible">
    <div class="flex items-center justify-between px-8 h-16">
        <img src="assets/reza-logo.webp" class="h-8"/>

        <button (click)="toggleSidebar()" class="md:hidden text-onAppbar h-4 w-4">
            <img src="assets/sidebar-icon.webp"/>
        </button>
    </div>

    <div *ngIf="isSidebarVisible" class="flex flex-col flex-grow p-8">
        <div class="flex flex-col gap-4 flex-grow">
            <a
              (click)="navigateReplace('/dashboard/services')"
              [class.bg-background]="isRouteActive('/dashboard/services')"
              class="p-4 rounded-xl transition-colors duration-200 hover:bg-background cursor-pointer"
            >
              Services
            </a>
          
            <a
              (click)="navigateReplace('/dashboard/personnel')"
              [class.bg-background]="isRouteActive('/dashboard/personnel')"
              class="p-4 rounded-xl transition-colors duration-200 hover:bg-background cursor-pointer"
            >
              Personnel
            </a>
          
            <a
              (click)="navigateReplace('/dashboard/reservations')"
              [class.bg-background]="isRouteActive('/dashboard/reservations')"
              class="p-4 rounded-xl transition-colors duration-200 hover:bg-background cursor-pointer"
            >
              Réservations
            </a>
          </div>          
    
        <div *ngIf="auth">
            <div class="flex items-center justify-between">
                <div class="flex gap-4 items-center">
                    <img class="w-8 h-8" src="assets/profile-picture.webp" alt="Profile"/>
                    <p class="text-onAppbar text-sm">{{ auth.user.firstName }} {{ auth.user.lastName }}</p>
                </div>
                <div (click)="logout()" class="w-4 h-4 cursor-pointer">
                    <img src="assets/logout-icon.webp" alt="Logout"/>
                </div>
            </div>
        </div>
    </div>
</div>