<div class="flex min-h-screen w-full h-full flex-col sm:flex-row bg-backgroundVariant">
    <sidebar/>   
    <div class="flex flex-col-reverse sm:flex-col mt-16 md:mt-0 md:ml-72 w-full p-8 gap-8 overflow-y-auto">
        <div class="flex flex-col gap-4 bg-surfaceVariant border border-borderColor p-8 rounded-xl">
            <h1 class="text-onSurface text-2xl">Liste des employés</h1>

            <div class="hidden sm:block">
                <table class="min-w-full text-sm text-left text-onSurface rounded-lg">
                    <thead class="bg-Appbar text-onSurface text-sm">
                        <tr>
                            <th class="px-4 py-3">Nom</th>
                            <th class="px-4 py-3">Prénom</th>
                            <th class="px-4 py-3">Email</th>
                            <th class="px-4 py-3">Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let staff of staffResponse" class="bg-surface">
                            <td class="px-4 py-2">{{ staff.user.lastName }}</td>
                            <td class="px-4 py-2">{{ staff.user.firstName }}</td>
                            <td class="px-4 py-2">{{ staff.user.email }}</td>
                            <td class="px-4 py-2">{{ staff.role.roleName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="sm:hidden flex flex-col gap-4">
                <div *ngFor="let staff of staffResponse" class="flex flex-col gap-4 bg-surface border border-borderColor p-4 rounded-lg shadow-sm text-sm text-onSurface">
                    <div class="flex flex-row gap-4 items-center justify-between">
                        <p class="font-bold"> {{ staff.user.lastName }} {{ staff.user.firstName }}</p>
                        <p class="font-bold"> {{ staff.role.roleName }}</p>
                    </div>
                    <p> {{ staff.user.email }}</p>
                </div>
            </div>  
        </div> 

        <div class="flex flex-col gap-4 bg-surfaceVariant border border-borderColor p-8 rounded-xl">
            <h1 class="text-onSurface text-2xl">Ajouter un employé</h1>
            <form [formGroup]="employeeForm" class="flex flex-col sm:flex-row gap-8 w-full">
                <div class="flex gap-4 w-full flex-col sm:flex-row items-end">
                    <div class="flex flex-col w-full gap-2">
                        <label for="userEmail" class="text-sm font-medium text-onSurface">Adresse mail</label>
                        <input
                        id="userEmail"
                        formControlName="userEmail"
                        type="email"
                        placeholder="Saisir votre adresse mail"
                        class="w-full p-3 bg-surface text-onSurface border border-borderColor rounded-md focus:outline-none focus:none text-onSecondarySurface"
                        />
                    </div>
    
                    <div class="flex flex-col w-full gap-2">
                        <label for="roleId" class="text-sm font-medium text-onSurface">Rôle</label>
                        <select
                          id="roleId"
                          formControlName="roleId"
                          class="w-full p-3 bg-surface text-onSurface border border-borderColor rounded-md focus:outline-none text-onSecondarySurface"
                        >
                          <option value="" disabled selected>Choisir un rôle</option>
                          <option *ngFor="let role of roles" [value]="role.id">{{ role.roleName }}</option>
                        </select>
                    </div>

                    <button
                    (click)="createEmployee()"
                    [disabled]="employeeForm.invalid"
                    class="hidden lg:block w-32 text-2xl h-12 bg-primary text-onPrimary rounded-md focus:none disabled:bg-disabled">
                        +
                    </button>
                </div>
            </form>

            <button
            (click)="createEmployee()"
            [disabled]="employeeForm.invalid"
            class="lg:hidden w-full lg:w-64 mt-4 py-3 bg-primary text-onPrimary rounded-md focus:none disabled:bg-disabled">
                Ajouter l'employé
            </button>
        </div>
    </div>
</div>