<div class="flex w-full h-full flex-col md:flex-row">
    <sidebar/>   
    <div class="flex flex-col mt-16 md:mt-0 md:ml-72 w-full p-8 gap-8">
        <div class="flex flex-col gap-4">
            <h1 class="text-white text-2xl">Liste des employés</h1>

            <div class="hidden sm:block">
                <table class="min-w-full text-sm text-left text-white rounded-lg">
                    <thead class="bg-Appbar text-white text-xs">
                        <tr>
                            <th class="px-4 py-3">Nom</th>
                            <th class="px-4 py-3">Prénom</th>
                            <th class="px-4 py-3">Email</th>
                            <th class="px-4 py-3">Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let staff of staffResponse" class="bg-surface">
                            <td class="px-4 py-2">{{ staff.user.lastName }}</td>
                            <td class="px-4 py-2">{{ staff.user.firstName }}</td>
                            <td class="px-4 py-2">{{ staff.user.email }}</td>
                            <td class="px-4 py-2">{{ staff.role.roleName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="sm:hidden flex flex-col gap-4">
                <div *ngFor="let staff of staffResponse" class="flex flex-col gap-4 bg-surface p-4 rounded-lg shadow-sm text-sm text-white">
                    <p class="font-bold"> {{ staff.user.lastName }} {{ staff.user.firstName }}</p>
                    <p> {{ staff.user.email }}</p>
                    <div class="flex flex-col items-center justify-center rounded-xl bg-primary text-white text-xs p-2">
                        {{ staff.role.roleName }}
                    </div>
                </div>
            </div>  
        </div> 

        <div class="flex flex-col gap-4">
            <h1 class="text-white text-2xl">Ajouter un employé</h1>
            
        </div>
    </div>
</div>