<div class="h-16 bg-Appbar border-b border-borderColor">
    <div class="flex justify-between items-center h-full px-8">
        <img src="assets/reza-logo.webp" class="h-8"/>
        @if(auth) {
            <div class="flex gap-4 items-center">
                <p class="text-onAppbar text-sm">{{ auth.user.firstName }} {{ auth.user.lastName }}</p>
                <div class="w-8 h-8">
                    <img src="assets/profile-picture.webp"/>
                </div>
                <div (click)="logout()" class="w-4 h-4 ml-8 cursor-pointer">
                    <img src="assets/logout-icon.webp"/>
                </div>
            </div>
        }
    </div>
  </div>