<appbar/>

<div class="flex flex-col text-white p-8 gap-8">
    <h1 class="text-2xl text-center lg:text-start">Vos restaurants</h1>

    <div class="flex text-white gap-8 flex-wrap justify-center lg:justify-start">
        <div (click)="toRestaurantCreation()" class="flex justify-center items-center h-48 w-64 rounded-3xl bg-surface cursor-pointer">
            <img class="h-12 w-12" src="assets/restaurant-creation-icon.webp" alt="Ajouter un restaurant"/>
        </div>

        <div *ngFor="let restaurantResponse of restaurantResponse" (click)="goToDashboard(restaurantResponse.restaurant.id)" class="flex flex-col justify-center items-center h-48 w-64 rounded-3xl bg-surface gap-4 cursor-pointer">
            <h2 class="text-lg font-bold">{{ restaurantResponse.restaurant.name }}</h2>
            
            <div class="text-center">
                <p class="text-sm">{{ restaurantResponse.restaurant.address }}</p>
                <p class="text-sm">{{ restaurantResponse.restaurant.city }}, {{ restaurantResponse.restaurant.zipcode }}</p>
                <p class="text-sm">Capacité : {{ restaurantResponse.restaurant.capacity }} couverts</p>
            </div>

            <div class="flex flex-col items-center justify-center rounded-xl bg-primary text-white text-xs p-2">
                {{ restaurantResponse.role.roleName }}
            </div>
        </div>
    </div>
</div>