<appbar/>

<div class="flex flex-col p-8 gap-8 bg-background h-auto min-h-[calc(100vh-4rem)]">
    <h1 class="text-2xl text-onBackground text-center lg:text-start">Vos restaurants</h1>

    <div class="flex text-onSurface gap-8 flex-wrap justify-center lg:justify-start">
        <div (click)="toRestaurantCreation()" class="flex justify-center items-center h-48 w-64 rounded-3xl border border-borderColor bg-surface cursor-pointer">
            <i class='bx bx-plus-circle text-onSurface text-4xl'></i>
        </div>

        <div *ngFor="let restaurantResponse of restaurantResponse" (click)="goToDashboard(restaurantResponse.restaurant.id, restaurantResponse.role)" class="flex flex-col justify-center items-center h-48 w-64 rounded-3xl bg-surface border border-borderColor gap-4 cursor-pointer">
            <h2 class="text-lg font-bold">{{ restaurantResponse.restaurant.name }}</h2>
            
            <div class="text-center">
                <p class="text-sm">{{ restaurantResponse.restaurant.address }}</p>
                <p class="text-sm">{{ restaurantResponse.restaurant.city }}, {{ restaurantResponse.restaurant.zipcode }}</p>
                <p class="text-sm">Capacité : {{ restaurantResponse.restaurant.capacity }} couverts</p>
            </div>

            <div class="flex flex-col items-center justify-center rounded-xl bg-primary text-onPrimary text-xs p-2">
                {{ restaurantResponse.role.roleName }}
            </div>
        </div>
    </div>
</div>