<div class="flex flex-col w-full h-full gap-6 lg:flex-row">
  <div class="min-w-[300px] w-full h-96 lg:h-full lg:w-1/2">
    <img class="object-cover w-full h-full" src="assets/auth-image.jpg">
  </div>

  <div class="flex flex-col justify-center min-w-[300px] w-full h-auto lg:h-full lg:w-1/2 p-8 gap-8">
    <h1 class="text-2xl text-white">Connexion</h1>
    <form
      [formGroup]="loginForm"
      class="flex flex-col gap-8 w-full"
    >
      <div class="flex flex-col w-full gap-2">
        <label for="email" class="text-sm font-medium text-onSurface">Adresse mail</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          placeholder="Saisir votre adresse mail"
          class="w-full p-3 bg-secondarySurface border border-gray-500 rounded-md focus:outline-none focus:none text-onSecondarySurface"
        />
        <div
          class="flex flex-col gap-2 mt-2 text-sm text-red-500"
          *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        >
          <small *ngIf="loginForm.get('email')?.hasError('required')">
            L'adresse mail est requise.
          </small>
          <small *ngIf="loginForm.get('email')?.hasError('email')">
            Veuillez saisir une adresse mail valide.
          </small>
        </div>
      </div>

      <div class="flex flex-col w-full gap-2">
        <label for="password" class="text-sm font-medium text-onSurface"
          >Mot de passe</label
        >
        <input
          id="password"
          formControlName="password"
          type="password"
          placeholder="Saisir votre mot de passe"
          class="w-full p-3 bg-secondarySurface border border-gray-500 rounded-md focus:outline-none focus:none text-onSecondarySurface"
        />
        <div
          class="flex flex-col gap-2 mt-2 text-sm text-red-500"
          *ngIf="
            loginForm.get('password')?.invalid && loginForm.get('password')?.touched
          "
        >
          <small *ngIf="loginForm.get('password')?.hasError('required')">
            Le mot de pass est requis.
          </small>
          <small *ngIf="loginForm.get('password')?.hasError('minlength')">
            Le mot de passe doit faire minimum 6 caractères.
          </small>
        </div>
      </div>
    </form>

    <div class="flex flex-col sm:flex-row gap-2 sm:gap-8">
      <button
      (click)="onSubmit()"
      class="w-full sm:w-2/3 mt-4 py-3 bg-primary text-white rounded-md focus:none disabled:bg-gray-400"
      >
        Valider la connexion
      </button>

      <button
        (click)="toSignup()"
        class="w-full sm:w-1/3 mt-4 py-3 text-onSurface bg-surface rounded-md focus:none disabled:bg-gray-400"
      >
        Inscription
      </button>
    </div>
  </div>
</div>
