<appbar/>

<div class="flex flex-col w-full min-h-[calc(100vh-4rem)] gap-6 lg:flex-row bg-background">
    <div class="flex flex-col justify-center min-w-[300px] w-full h-auto lg:h-full lg:w-1/2 p-8 gap-8">
        <h1 class="text-2xl text-onBackground">Création d'un restaurant</h1>
        <form [formGroup]="restaurantForm" class="flex flex-col gap-8 w-full">
            <div class="flex flex-col w-full gap-2">
                <label for="name" class="text-sm font-medium text-onBackground">Nom</label>
                <input
                    id="name"
                    formControlName="name"
                    type="text"
                    placeholder="Saisir le nom du restaurant"
                    class="w-full p-3 bg-surface text-onSurface border border-borderColor rounded-md focus:outline-none focus:none text-onSecondarySurface"
                />
            </div>
        
            <div class="flex flex-col w-full gap-2">
                <label for="address" class="text-sm font-medium text-onBackground">Adresse</label>
                <input
                    id="address"
                    formControlName="address"
                    type="text"
                    placeholder="Saisir l'adresse"
                    class="w-full p-3 bg-surface text-onSurface border border-borderColor rounded-md focus:outline-none focus:none text-onSecondarySurface"
                />
            </div>

            <div class="flex flex-col sm:flex-row gap-6">
                <div class="flex flex-col w-full gap-2">
                    <label for="city" class="text-sm font-medium text-onBackground">Ville</label>
                    <input
                        id="city"
                        formControlName="city"
                        type="text"
                        placeholder="Saisir la ville"
                        class="w-full p-3 bg-surface text-onSurface border border-borderColor rounded-md focus:outline-none focus:none text-onSecondarySurface"
                    />
                </div>
    
                <div class="flex flex-col w-full gap-2">
                    <label for="zipcode" class="text-sm font-medium text-onBackground">Code postal</label>
                    <input
                        id="zipcode"
                        formControlName="zipcode"
                        type="number"
                        placeholder="Saisir le code postal"
                        class="w-full p-3 bg-surface text-onSurface border border-borderColor rounded-md focus:outline-none focus:none text-onSecondarySurface"
                    />
                </div>
            </div>

            <div class="flex flex-col w-full gap-2">
                <label for="capacity" class="text-sm font-medium text-onBackground">Capacité</label>
                <input
                    id="capacity"
                    formControlName="capacity"
                    type="number"
                    placeholder="Saisir la capacité"
                    class="w-full p-3 bg-surface text-onSurface border border-borderColor rounded-md focus:outline-none focus:none text-onSecondarySurface"
                />
            </div>
        </form>

        <div class="flex flex-col sm:flex-row gap-2 sm:gap-8">
            <button
            (click)="onSubmit()"
            [disabled]="restaurantForm.invalid"
            class="w-full sm:w-2/3 mt-4 py-3 bg-primary text-onPrimary rounded-md focus:none disabled:bg-disabled disabled:cursor-not-allowed"
            >
              Créer le restaurant
            </button>
      
            <button
              (click)="toRestaurantHub()"
              class="w-full sm:w-1/3 mt-4 py-3 text-onSurface bg-surface rounded-md focus:none disabled:bg-disabled"
            >
              Retour en arrière
            </button>
        </div>
    </div>

    <div class="hidden lg:block min-w-[300px] w-full h-96 lg:h-full lg:w-1/2">
        <img class="object-cover w-full h-full" src="assets/auth-image.webp">
    </div>
</div>
