<div
  class="fixed flex flex-col gap-2 z-10 top-2 right-1/2 translate-x-1/2 md:right-4 md:top-auto md:bottom-4 md:translate-x-0"
>
  <div
    *ngFor="let toast of toastService.toasts"
    class="px-4 py-3 rounded-lg text-sm font-semibold cursor-pointer flex items-center gap-2 shadow-lg"
    [ngClass]="{
      'bg-success text-onSuccess': isToastSuccess(toast),
      'bg-error text-onError': isToastError(toast)
    }"
    (click)="removeToast(toast)"
  >
    <i
      [ngClass]="{
        'bx bxs-check-circle': isToastSuccess(toast),
        'bx bxs-error-circle': isToastError(toast)
      }"
      class="text-lg"
    ></i>
    {{ toast.message }}
  </div>
</div>